
<h2 appDire>Register Here</h2>
<form class="example-form matcard">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="mat">Enter Name:</mat-label>
        <input #username matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
       <mat-label class="mat">Enter new Password:</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="mat">Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="mat">Email</mat-label> 
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="mat">City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="mat">State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <button appMydir mat-raised-button color="warn" (click)="clicked()">submit</button>
      <a class="anc" routerLink="/login">Already register?click to sign in</a>
      </table>

      
  </form>
