<form>
  <mat-card class="matcard">
    <mat-form-field>
      <mat-label>UserName:</mat-label>
      <input matInput name="uname" [(ngModel)]="uname">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput name="pwd" [(ngModel)]="pwd">
    </mat-form-field>
    <button mat-raised-button appMydirc (click)="Onclick()">submit</button>

  </mat-card>

</form>


<div class="binding">
  <!-- <h1>Username:{{uname.value}}</h1>
  <h2>Password:{{pwd.value}}</h2> -->
</div>

<div class="binding">
  <h2>{{title}}</h2>
  <h2>{{topic}}</h2>
</div>

<div class="binding">
  <img [src]="img1" width="300px" height="200px" alt="">

</div>

<div class="binding">
  <h2>Displaying Empnames:</h2>
  <ul>
    <li *ngFor="let e1 of empname">
      {{e1}}
    </li>
  </ul>
</div>

<h1>All about pipes</h1>
<p>{{username}}</p>
<p>{{username | uppercase}}</p>
<p>{{username | lowercase}}</p>
<p>{{username | titlecase}} </p>
<p>{{username | slice:3}}</p>

<p>{{username | json}}</p>

<h2>{{6.745 | number :'1.2-3'}}</h2>
<h2>{{6.745 | number :'3.4-5'}}</h2>
<h2>{{6.745 | number :'3.1-2'}}</h2>

<h2>{{0.50 | percent}}</h2>
<h2>{{02.50 | currency}}</h2>
<h2>{{02.50 | currency:'EUR'}}</h2>
