 
 
 <div>
    <h1>{{title}}</h1>

    <button  mat-raised-button color="warn" routerLink="login">Login</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary" routerLink="reg">signup</button>&nbsp;&nbsp;
   
    
   
    <button mat-raised-button color="warn" routerLink="pro">Product</button>&nbsp;&nbsp;
   
    <button mat-raised-button color="primary" routerLink="service">service</button>&nbsp;&nbsp;

    <button mat-raised-button color="primary" routerLink="mode">component</button>&nbsp;&nbsp;
   
    <app-login></app-login>
   
   
   <router-outlet></router-outlet>
   

 </div>
 